/* 
    Document   : main
    Created on : 08.10.2012, 19:21:51
    Author     : Eugene Smith <easmith@mail.ru>
*/
root { 
    display: block;
}

* {
	font-family: Tahoma, Arial;
	font-size: 14px;
}

#main {
	position:relative;
	width: 760px;
	height: 685px;
	margin: 10px auto;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	background: #02b1d0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyYjFkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRlOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #02b1d0 0%, #014e96 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02b1d0), color-stop(100%,#014e96));
	background: -webkit-linear-gradient(top,  #02b1d0 0%,#014e96 100%);
	background: -o-linear-gradient(top,  #02b1d0 0%,#014e96 100%);
	background: -ms-linear-gradient(top,  #02b1d0 0%,#014e96 100%);
	background: linear-gradient(to bottom,  #02b1d0 0%,#014e96 100%);
}

.gamename {
	vertical-align: top;
	font-size: 22px;
	color: white;
	padding:8px;
	width: 346px;
	display: inline-block;
}

#tools{
	width: 720px;
	padding-left: 20px;
	padding-top: 8px;
	height: 54px;
}

#backCanvas {
	width: 720px;
	height: 600px;
	margin: 0px 20px 20px 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	background: url('images/back-clear.jpg');
}

#addDiver {
	margin: 8px;
	width: 163px;
	height: 32px;
	border: none;
	background: url('images/add-diver.png');
}
#addDiver:hover {
	cursor:pointer;
	background-position:0 -32px;
}
#deleteDiver {
	margin: 8px;
	width: 163px;
	height: 32px;
	border: none;
	background: url('images/delete-diver.png');
}
#deleteDiver:hover {
	cursor:pointer;
	background-position:0 -32px;
}

.information {
	margin: 0 auto;
	width: 720px;
}

#diverRadio{
	display: none;
	width: 720px;
	height: 200px;
	overflow: scroll;
}

legend {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

#loading{
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgba(0,0,64,.5);
}

#loading h1{
	display: block;
	width: 100px;
	margin: 300px auto;
}